@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="display:grid">
    <input />
    <button>Generate Segitiga</button>
    <button>Generate Bilangan Ganjil</button>
    <button>Generate Bilangan Prima</button>
    <h3>Result</h3>
</div>
